<#import "/global.ftl" as vardb>
<#import "/spring.ftl" as spring/>

<@vardb.layout title="Codon Usage" cur="codonusage">

<p class="introduction">
This tool calculates various metrics associated with codon usage.
</p>
<br/>

<@vardb.showErrors/>
<div id="formdiv"></div>

<% content_for :onready do %>
new kyoto.vardb.CodonUsageForm({renderTo: 'formdiv'});
<% end %>


