<#import "/global.ftl" as vardb>
<#import "/spring.ftl" as spring/>

<@vardb.layout title="Compare codon usage between conserved and variable regions" shownavigation=false cur="hvcodons">

<fieldset class="padded">
<legend>Alignment analysis - conserved vs. variable regions</legend>
<span class="label">Gblocks:</span> ${groups.gblocks}<br/>
<#if groups.referenceGc??><span class="label">Background GC:</span> ${groups.referenceGc}<br/></#if>
<#if groups.consensus??><span class="label">Consensus:</span> ${groups.consensus.sequence}<br/></#if>
</fieldset>
<br/>

<#list groups.groups as group>
<fieldset class="padded">
<legend>Group: ${group.name}</legend>
<span class="label">AA lengths:</span> ${group.aalengths.mean?string("0.##")} +/-${group.aalengths.standardDeviation?string("0.##")}<br/>
<span class="label">NT lengths:</span> ${group.ntlengths.mean?string("0.##")} +/-${group.ntlengths.standardDeviation?string("0.##")}<br/>
<span class="label">GC:</span> ${group.gc.mean?string("0.##")} +/-${group.gc.standardDeviation?string("0.##")}<br/>
<span class="label">GC3:</span> ${group.gc3.mean?string("0.##")} +/-${group.gc3.standardDeviation?string("0.##")}<br/>
<span class="label">GC3 skew:</span> ${group.gc3skew.mean?string("0.##")} +/-${group.gc3skew.standardDeviation?string("0.##")}<br/>
</fieldset>
<br/>
</#list>

<div>Codon usage</div>
${groups.codontables.table.html}
<br/>

<div>Amino acid usage</div>
${groups.aatables.table.html}
<br/>

<div>Amino acid group usage</div>
${groups.aatables.groupTable.html}
<br/>

<div>Gc vs. Variability</div>
<textarea cols="40" rows="10">
column	gc	variability
<#list gcvariability as gcvar>
${gcvar.column}	${gcvar.gc}	${gcvar.variability}
</#list>
</textarea>
<br/><br/>

<div id="variabilitycharts"></div><br/>
<div id="aachart"></div><br/>
<div id="codonchart"></div><br/>

<% content_for :onready do %>
var variabilitycharts=new Ext.ux.vardb.VariabilityCharts(
{
	renderTo: 'variabilitycharts',
	shannon: [<#list groups.consensus.positions as position>${position.shannonEntropy?string("0.##")}<#if position_has_next>,</#if></#list>],
	simpson: [<#list groups.consensus.positions as position>${position.simpsonDiversityIndex?string("0.##")}<#if position_has_next>,</#if></#list>],
	wukabat: [<#list groups.consensus.positions as position>${position.wuKabatVariabilityCoefficient?string("0.##")}<#if position_has_next>,</#if></#list>]
});

var aachart=new Ext.ux.vardb.AminoAcidUsageChart(
{
	renderTo: 'aachart',
	seriesNames: [<#list groups.aatables.tables as table>'${table.name}'<#if table_has_next>,</#if></#list>],
	data:
	[
		<#list groups.aatables.data as item>
		{aa: '${item.aa.code}',<#list item.series as series> freq${series_index?c}: ${series.frequency?default(0)}<#if series_has_next>,</#if></#list>}<#if item_has_next>,</#if>
		</#list>
	]
});

var codonchart=new Ext.ux.vardb.CodonUsageChart(
{
	renderTo: 'codonchart',
	seriesNames: [<#list groups.codontables.tables as table>'${table.name}'<#if table_has_next>,</#if></#list>],
	data:
	[
		<#list groups.codontables.data as item>
		{codon: '${item.codon}',<#list item.series as series> freq${series_index?c}: ${series.frequency?default(0)}<#if series_has_next>,</#if></#list>}<#if item_has_next>,</#if>
		</#list>
	]
});
<% end %>


