<#import "/global.ftl" as vardb>
<#import "/spring.ftl" as spring/>

<@vardb.layout title="PAL2NAL" cur="pal2nal">

<p class="introduction">
Create a codon alignment based on an existing protein multiple sequence alignment using <a href="http://www.bork.embl.de/pal2nal/" target="_blank">PAL2NAL</a>.
</p>
<br/>

<@vardb.showErrors/>
<div id="formdiv"></div>

<% content_for :onready do %>
new Ext.ux.vardb.Pal2NalForm({renderTo: 'formdiv'});
<% end %>


