$darkblue: #1958b7;
$blue: #2175bc;
$lightblue: #508fc4;
$lightestblue: #90bade;

@import "layout";
@import "general";
@import "text";
@import "table";
@import "navigation";
@import "icons";
@import "consensus";
@import "explorer";