<% content_for :title do %>New User<% end %>
<% content_for :curpage do %>newuser<% end %>

<@vardb.showErrors/>
<div id="newuserform"></div>

<% content_for :onready do %>
	new kyoto.vardb.NewUserForm({renderTo: 'newuserform'});
<% end %>

