<% content_for :title do %>Mechanisms of antigenic variation<% end %>
<% content_for :curpage do %>antigenicvariation<% end %>

<p class="introduction">
Many pathogens must at least transiently infect a host organism to complete one or more stages of their life stages, and many are able to establish long-term persistent infections. Foreign antigens are quickly and efficiently targeted by the host immune system, so in order to survive in this harsh environment, pathogens have evolved various ways to circumvent or disarm these defenses. Because the adaptive immune system uses a complex and time-consuming clonal selection process to develop cell lines with high binding specificity to the presented antigens, one way to temporarily outpace immune surveillance is to continually vary the conformation of antigenic determinants. For this strategy to work, the pathogen must present a tightly controlled antigenic profile to the host and maintain the ability to introduce antigenically distinct variants at regular intervals. In general mutation rates found in typical genomic sequences are insufficient to introduce enough variability to prevent formation of cross-reactive antibodies and immunity. Consequently a number of mechanisms have evolved that tend to promote localized variation within genes coding for immunodominant surface proteins.
</p>
<br/>

<p class="introduction">
	These mechanisms can be roughly divided into two categories: random variation and programmed variation (antigenic variation <i>sensu stricto</i>).
</p>

<!-- Random "unprogrammed" variation -->
<div class="subsubheading">Random variation</div>

<p class="introduction">
Random or unprogrammed variation takes advantage of imperfections in DNA repair and replication processes to introduce variation. Certain nucleotide combinations are likely to lead to induction of error-prone polymerases with a higher probability of point mutations and indels. Other factors increase the likelihood of double-stranded breaks, which when resolved can lead or transfer of stretches of DNA or even entire genes to other regions of the genome.
</p>
<br/>

<div class="subsubheading">Programmed variation</div>

<p class="introduction">
Programmed variation refers to the existence of specific mechanisms to generate gene diversity. This generally implies a family of paralogous genes encoding proteins with the same or similar functions and the ability to express only one of the family members at a time. In effect this is achieved by maintaining only one active promoter at a time and/or moving genes to a position downstream of an active promoter. This can be accomplished either through recombination or through in situ control:
</p>

<div style="padding-left:15px;padding-bottom:8px;">	
	<div class="subsubheading">Recombination</div>
	<ul class="bulleted">
	    <li><a href="#inversion">Inversion</a></li>
	    <li><a href="#recombination">Reciprocal recombination</a></li>
	    <li><a href="#gene_conversion">Gene conversion (cassette mechanism)</a></li>
	    <li><a href="#deletion">Deletion (preceded by gene conversion)</a></li>
	</ul>
	
	<div class="subsubheading"><i>In situ</i> control</div>
	<ul class="bulleted">
	    <li><a href="#repeats">Varying the length of simple repeat tracts</a></li>
	    <li><a href="#direct">Direct modification of DNA</a></li>		    
	    <li><a href="#indirect">Without directly modifying DNA</a></li>
	</ul>
</div>
<br/>

<div class="subheading"><a name="inversion">Inversion</a></div>

<p class="introduction">
This is the simplest way to move genes relative to a fixed location, and can involve either gene or promoter inversion (Figure 1). The inversion is catalyzed by a site-specific DNA recombinase that recognizes a short DNA segment flanking both sides of the invertible segment. A more sophisticated mechanism involves several segments that can be rearranged in different ways, yielding different products (Figure 2).
</p>
<br/>

<div class="figure">
	<table>
	<tr>
		<td><img src="/images/figure-1.png" alt="Figure 1"/></td>
		<td class="caption"><b>Figure 1.</b> Mechanism for antigenic variation based on sequence inversion. Gene inversion <b>(A)</b> changes the sequence directly downstream of the promoter. Promoter inversion <b>(B)</b> changes the orientation of the promoter, thereby changing the active gene sequence. The grey symbols represent triggers for the inversion mechanisms.</td>
	</tr>
	</table>
</div>
<br/>

<div class="figure">
	<table>
	<tr>
		<td><img src="/images/figure-2.png" alt="Figure 2"/></td>
		<td class="caption"><b>Figure 2.</b>Complex mechanisms based on gene inversion. The arrangement in <b>(A)</b> can be changed in two ways <b>(B, C)</b>, allowing different genes to be transcribed.</td>
	</tr>
	</table>
</div>
<br/>

<div class="subheading"><a name="recombination">Reciprocal recombination</a></div>

<p class="introduction">
Reciprocal recombination is used for genes near the telomeres (Figure 3), providing a versatile mechanism in pathogens with large numbers of chromosomes or linear plasmids, e.g. trypanosomes, <i>Pneumocystis</i> and <i>Borrelia</i>.
</p>

<br/>

<div class="figure">
	<table>
	<tr>
		<td><img src="/images/figure-3.png" alt="Figure 3"/></td>
		<td class="caption"><b>Figure 3.</b> The two chromosomes in <b>(A)</b> encode different polypeptides. A recombination event ocurring in the first exon allows the generation of diversity <b>(B)</b>.</td>
	</tr>
	</table>
</div>

<br/>

<div class="subheading"><a name="gene_conversion">Gene conversion</a></div>

<p class="introduction">Also known as the <i>cassette mechanism</i>, as a gene is inserted behind a single promoter in an expression site like a cassette inserted into a tape recorder. The first cassette mechanism described involved a site-specific endonuclease, but whether a dedicated endonuclease is also involved in antigenic variation in African trypanosomes, the pathogen using this mechanism most extensively, is under debate. The high rate of switching and the limited sequence homology available for gene conversion suggests, but does not prove, the involvement of a dedicated endonuclease, but this enzyme remains to be found.</p>

<br/>

<div class="figure">
	<table>
	<tr>
		<td><img src="/images/figure-4.png" alt="Figure 4"/></td>
		<td class="caption"><b>Figure 4.</b> The gene (or a single exon in mammalian genomes) in <b>(A)</b> can be exchanged for a different copy found in a repository location, changing the way the gene is expressed <b>(B)</b>.</td>
	</tr>
	</table>
</div>

<br/>

<div class="subheading"><a name="deletion">Gene deletion</a></div>

<p class="introduction">Found in <i>Borrelia</i>, this mechanism requires arrays of antigen genes to be inserted into an active expression site through recombination. If each gene is followed by a strong transcriptional stop, removing the first gene in the array by deletion thereby activates the second one. Such mechanisms can  work only if antigen genes are introduced into the expression site in an asymmetrical fashion, i.e. an array of genes replacing a single gene. Otherwise, the gene would be entirely lost from the genome and the gene repertoire would rapidly shrink.</p>

<br/>

<div class="figure">
	<table>
	<tr>
		<td><img src="/images/figure-5.png" alt="5"/></td>
		<td class="caption"><b>Figure 5.</b> Only the gene immediately downstream of the promoter region is transcribed <b>(A)</b>. A deletion event provokes a change in the expressed gene <b>(B)</b>.</td>
	</tr>
	</table>
</div>

<br/>

<div class="subheading"><a name="repeats">Varying the length of simple repeat tracts</a></div>

<p class="introduction">Varying the length of simple repeat tracts allows control of gene expression at the transcriptional (Figure 6) and translational levels (Figure 7).</p>

<br/>

<div class="figure">
	<table>
	<tr>
		<td><img src="/images/figure-6.png" alt="Figure 6"/></td>
		<td class="caption"><b>Figure 6.</b> Transcriptional regulation of gene expression involves a change in the distance between elements in the promoter region. This prevents the correct binding of transcription factors or the RNA Polymerase, blocking expression of the encoded gene.</td>
	</tr>
	</table>
</div>

<br/>

<div class="figure">
	<table>
	<tr>
		<td><img src="/images/figure-7.png" alt="Figure 7"/></td>
		<td class="caption"><b>Figure 7.</b> Translational control of gene expression involves a change in the length of a short repeat sequence in the coding region. This change generates a premature stop codon, resulting in a non-functional protein.</td>
	</tr>
	</table>
</div>
<!--
<refs>
	<ref>borst_2003</ref>
</refs>
-->