<% content_for :title do %>Infectious diseases associated with antigenic variation<% end %>
<% content_for :curpage do %>diseases<% end %>
<!-- {'Diseases':'/diseases.html'} -->

<p class="introduction">
Infectious diseases may be caused by viruses, bacteria, fungi, or protozoan pathogens and may or may not be contagious.
Some infectious diseases are prolonged as a result of reactivation of the immune system through antigenic variation.  
In some cases the pathogen may continue this process until it overwhelms and exhausts the immune system.
</p>
<br/>

<div id="griddiv"></div>
<br/>

<div class="heading">Links</div>
<ul class="bulleted">
	<li><a href="http://www.who.int/classifications/icd/en/" target="_blank">WHO International Classification of Diseases</a></li>
	<li><a href="http://www.cdc.gov/ncidod/" target="_blank">National Center for Infectious Diseases</a></li>
	<li><a href="http://www.healthmap.org/" target="_blank">HEALTHmap</a> - global disease alert map</li>
</ul>

<@vardb.comments type="PAGE" identifier="diseases"/>

<% content_for :scripts do %>
var diseases=${diseasesjson.json};
var drugs=${drugsjson.json};
<% end %>

<% content_for :onready do %>
	var diseasegrid=new Ext.ux.vardb.Diseases({data: diseases});
	var druggrid=new Ext.ux.vardb.Drugs({data: drugs});

	var tabs = new Ext.TabPanel({
		renderTo: 'griddiv',
        activeTab: 0,
		width:600,
        deferredRender: true,
        layoutOnTabChange: true,
        defaults:{autoHeight: true},
    	items:
        [
			diseasegrid,
			druggrid
        ]
    });

	druggrid.getStore().groupBy('activity');
<% end %>
