<% content_for :title do %>#{@structure.name}<% end %>
<% content_for :curpage do %>structures<% end %>
<!-- shownavigation=false -->

<#assign command>spacefill; color temperature</#assign>

<script src="${vardb.webapp}/applets/jmol/Jmol.js" type="text/javascript"></script>

<fieldset class="padded">
<@vardb.urlfield obj=structure property="name" baseurl="http://www.rcsb.org/pdb/explore/explore.do?structureId=" label="PDB ID"/>
<@vardb.field obj=structure property="description" label="Description"/>
<@vardb.field obj=structure property="resolution" label="Resolution"/>
<@vardb.field obj=structure property="technique" label="Technique"/>
<@vardb.field obj=structure property="numchains" label="Chains"/>
</fieldset>

<p class="introduction">
PDB structures are displayed using <a href="http://jmol.sourceforge.net/" target="_blank">Jmol</a>. 
Jmol can be controlled using the Jmol scripting language by entering commands in the box below 
(<a href="http://www.callutheran.edu/Academic_Programs/Departments/BioDev/omm/scripting/molmast.htm" target="_blank">Jmol scripting examples</a>).
</p>
 
<form>
<script type="text/javascript">
jmolInitialize("${vardb.webapp}/applets/jmol");
var command='set defaultDirectory "${vardb.webapp}/pdb/"; load ${structure.name}.pdb; ${command}';
jmolApplet(400, command);
</script>
</form>
<div id="jmolformdiv"></div><br/>
<div id="chainhitsdiv"></div><br/>
<#--<div id="sequencesdiv"></div><br/>-->
<div id="chainsdiv"></div>

<@vardb.references structure.refs/>

<@vardb.lastModified structure/>

<@vardb.comments type="STRUCTURE" identifier=structure.identifier/>

<% content_for :scripts do %>
var jmolform;
var data=${structurejson.json};
<% end %>

<% content_for :onready do %>
	jmolform=new kyoto.vardb.JmolForm(
	{
		renderTo: 'jmolformdiv',
		data: data,
		command: '${command}'
	});
	
	var chainhitsgrid=new kyoto.vardb.ChainHitsGrid(
	{
		renderTo: 'chainhitsdiv',
		identifier: '${structure.identifier}'
	});
	
	var grid=new kyoto.vardb.Chains({renderTo: 'chainsdiv', data: data});
<% end %>


