<% content_for :title do %>Terms<% end %>
<% content_for :curpage do %>terms<% end %>

<div id="griddiv"></div>

<% content_for :scripts do %>
var terms =
[
	<#list terms as term>
	{
		identifier: '${term.identifier}',
		term: '${term.term?js_string}',
		definition: '${term.definition?js_string}',
		ref: '${term.citation?js_string}'
	}<#if term_has_next>,</#if>
	</#list>
];
<% end %>

<% content_for :onready do %>
	new Ext.ux.vardb.Terms(terms,'griddiv');
<% end %>



