<% content_for :title do %>Tutorials<% end %>
<% content_for :curpage do %>tutorials<% end %>

<ul class="bulleted">
	<li><a href="/tutorials/search.html">Search tutorial</a></li>
	<li><a href="/tutorials/quickcart.html">Quickcart tutorial</a></li>
	<li><a href="/tutorials/bundles.html">Bundles tutorial (preliminary)</a></li>
</ul>