<% content_for :title do %>PSI-BLAST<% end %>
<% content_for :curpage do %>psiblast<% end %>

<p class="introduction">
PSI-BLAST searches protein sequences using...
</p>

<div id="formdiv"></div>
<br/>

<% content_for :onready do %>
	var form=new kyoto.vardb.blast.PsiBlastForm(
	{	
		<#if params.query?has_content>query: "${params.query?js_string}",</#if>
		wordsize: ${params.wordsize?c},
		evalue: '${params.evalue}',
		maxresults: ${params.maxresults?c},
		lowcomplexity: ${params.lowcomplexity?string},
		matrix:	'${params.matrix}',
		<#if params.gapopen??>gapopen: ${params.gapopen?c},</#if>
		<#if params.gapextend??>gapextend: ${params.gapextend?c},</#if>
		iterations: ${params.iterations?c}
	});
<% end %>

