	<div>
		<a href="http://www.bic.kyoto-u.ac.jp/">Bioinformatics Center</a>, 
		<a href="http://www.kuicr.kyoto-u.ac.jp/">Institute for Chemical Research</a>, 
		<a href="http://www.kyoto-u.ac.jp/index-e.html">Kyoto University</a>, Uji, Kyoto 611-0011, Japan
	</div>
	<div>System last updated ${lastupdated} / SVN revision: ${svnrevision}</div>
	<div>Username: ${user.username}</div>
	<!-- Username: ${user.username} -->