<div class="figure" style="padding-left:0px;">
<table width="90%">
<tr>
<td>
<div id="worldmap" style="background-image:url('http://chart.apis.google.com/chart?chs=440x220&amp;cht=t&amp;chco=ffffff,ccccff,afafff,9292ff,7575ff,5757ff,3a3aff,1d1dff&amp;chtm=world&amp;chld=AFDZARAUATAZBDBYBEBRBGKHCACLCNCKHRCUCYCZDKDJECEGSVETFJFIFRGFPFDEGRGUGTHNHKHUISINIDIQIEILITJMJPKEKWKGLVLBLUMGMYMXMNMAMMNPNLNCNZNINGMPNOOMPAPGPYPEPHPLPTPRQAROSASNSGSKSISBZAESLKSECHTJTHTOTRUAGBUYUZVEVN&amp;chd=s:AABnIBBBAFABGB3AAACASAADAAADHAAHDAABGAACJCCAFAeCBAAADADBCBCBCB9CABDAAAAADABABAAAEAAACBABCAMADAFABAK&amp;chf=bg,s,EAF7FE');cursor:pointer;" onclick="document.location.href='/map.html'">
	<div id="maplegend">
		<div class="label">Sequences by country: 1&nbsp;</div>
		
		<div class="level" style="background-color:#ccccff;"></div>
		<div class="level" style="background-color:#afafff;"></div>
		<div class="level" style="background-color:#9292ff;"></div>

		<div class="level" style="background-color:#7575ff;"></div>
		<div class="level" style="background-color:#5757ff;"></div>
		<div class="level" style="background-color:#3a3aff;"></div>
		<div class="level" style="background-color:#1d1dff;"></div>
		<div class="label">&nbsp;1,309</div>
	</div>
</div>

<!--
<div id="worldmap" style="background-image:url('${map.url}');cursor:pointer;" onclick="document.location.href='${vardb.webapp}/search/map.html'">
	<div id="maplegend">
		<div class="label">Sequences by country: ${map.min}&nbsp;</div>
		<#list map.colors as color>
		<#if color_index!=0><div class="level" style="background-color:#${color};"></div></#if>
		</#list>
		<div class="label">&nbsp;${map.max}</div>
	</div>
</div>
</td>
-->
<td class="caption"><b>Isolates by country</b> Number of GenBank antigenic variation field isolate sequences by country (extracted from the GenBank country field).</td>
</tr>
</table>
</div>
<br/>